{% extends "base.twig" %}
{% set pageTitle = "Battle" %}
{% set title = "Battle" %}
{% set fullWidth = false %}
{% set showDate = false %}

{% block meta %}
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block rightContent %}
{% endblock %}

{% block leftContent %}
    {% include "/global/navigationMenu.twig" %}
{% endblock %}
