{% extends "base.twig" %}
{% set pageTitle = "Kill " ~ killID %}
{% set title = "Kill" %}
{% set fullWidth = false %}
{% set showDate = false %}

{% block meta %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sco.js/1.1.0/css/scojs.min.css"
          integrity="sha256-X/S6bj3zqdJs4v8yl2OWoacgvpGRmjUJtjdreo3aEi8=" crossorigin="anonymous"/>
{% endblock %}

{% block js %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sco.js/1.1.0/js/sco.tooltip.js"
            integrity="sha256-D1cXcX/XEN8qmiAakjJ3d54Qq93MF4+WtdsTkSFZuLo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/kill.js"></script>
    <script>
        generateKillData({{ killID }});
    </script>
{% endblock %}

{% block rightContent %}
    <div id="kl-detail-left">
        <div id="topVictimInfo"></div>
        <div id="fittingWheel"></div>
        <div id="itemDetail"></div>
        <div id="lossValueDetail"></div>
    </div>
    <div id="kl-detail-right">
        <div id="involvedPartiesInfo"></div>
        <div id="InvolvedPartiesList"></div>
        <div id="Comments"></div>
    </div>
{% endblock %}

{% block leftContent %}
    {% include "/global/navigationMenu.twig" %}
    <div id="points"></div>
    <div id="topDamageAndFinal"></div>
{% endblock %}
